@import "./global.scss";

.container {
    @include containerStyle;
}

.row {
    @include rowStyle(4, 1fr);
}

.search-bar {
    padding: 5px;
    border-radius: 10px;
    width: 50%;
}

.list-content {
    text-align: center;
    margin: 20px auto 20px auto;
}

@media (max-width: 1300px) {
    .row {
        @include rowStyle(2, 1fr);
    }
}

@media (max-width: 700px) {
    .row {
        @include rowStyle(1, 1fr);
    }
}
